---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Auth from "@components/Auth.astro";
import CommentForm from "@components/CommentForm.astro";
import CommentSection from "@components/CommentSection.astro";

let author: string | undefined;
if (Astro.locals.user !== null) {
    author = Astro.locals.user.username;
}
---

<html lang="en" transition:animate="fade">
    <Head title="Guestbook | Chengxuan Li" />
    <script src="../guestbook/index.ts"></script>
    <body
        class="no-scrollbar scroll-smooth bg-rp-base text-rp-text antialiased"
    >
        <Header />
        <main transition:animate="slide">
            <section id="#guestbook">
                <div class="px-6 py-16 xs:py-8">
                    <h1
                        class="text-xl uppercase tracking-[15px] text-rp-subtle
                        md:tracking-[20px]"
                    >
                        Sign my guestbook
                    </h1>
                </div>
                {author ? <CommentForm author={author} /> : <Auth />}
                <div class="pl-4 text-sm">
                    <span id="view-count">Number of Viewers: </span>
                </div>
                <CommentSection />
            </section>
        </main>
    </body>
</html>
