---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Auth from "@components/Auth.astro";
import CommentForm from "@components/CommentForm.astro";
import { verify } from "src/utils/jwt";

let user: string | undefined = "User";

const jwtToken = Astro.cookies.get("jwt_token")?.value;
if (jwtToken) {
    user = await verify(jwtToken);
}
---
<html lang="en" transition:animate="fade">
    <Head title="Guestbook | Chengxuan Li" />
    <body
        class="no-scrollbar scroll-smooth bg-rp-base text-rp-text antialiased"
    >
        <Header />
        <main transition:animate="slide">
            <section id="#guestbook">
                <div class="px-6 py-16 xs:py-8">
                    <h1
                        class="text-xl uppercase tracking-[15px] text-rp-subtle 
                        md:tracking-[20px]"
                    >
                        Sign my guestbook
                    </h1>
                </div>
                { user ? <CommentForm user={user} /> : <Auth /> }
                <view-count></view-count>
                <comment-section></comment-section>
            </section>
        </main>
    </body>
    <script src="../scripts/guestbook.ts"></script>
</html>
