---
import Discord from "@components/auth/Discord.astro";
import Github from "@components/auth/Github.astro";
import Google from "@components/auth/Google.astro";
---
<form class="relative pl-2 pt-4 pb-2 max-w-[500px]">
    <ul class="flex flex-wrap gap-3 flex-col">
        <li><Discord /></li>
        <li><Github /></li>
        <li><Google /></li>
    </ul>
</form>
