---
import getLogger from "src/utils/logger";
const { user } = Astro.props;
getLogger().info(user);
---
<div class="pl-2 pb-2"><span>Welcome {user}</span></div>
<form class="relative left-2 max-w-[500px]">
    <input
        aria-label="Your message"
        class="message pl-4 py-2 pr-8 w-full bg-rp-surface rounded-lg
        text-rp-text"
        placeholder="Your message..."
        type="text"
    />
    <button
        class="absolute px-4 py-1 bottom-1 right-1 bg-rp-overlay rounded-lg
        hover:text-rp-iris"
        type="submit">Sign</button
    >
</form>
<form class="relative" action="/api/auth/logout" method="post">
    <button
        class="relative px-4 py-2 bottom-1 right-1 hover:text-rp-iris"
        type="submit">Sign out</button
    >
</form>
