---
import { getAllComment } from "src/pages/api/guestbook";
import type { _Comment } from "@T/Comment";
import getLogger from "src/utils/logger";

const child = getLogger().child({
    filename: "/components/CommentSection.astro",
});

let comments: _Comment[] = [];
try {
    comments = await getAllComment();
} catch (err) {
    if (err instanceof Error) {
        child.error(err.message);
    }
}
---

<ul class="flex flex-col pt-2 pl-4 gap-1 list-none" id="comment-section">
    {
        comments.map((comment) => (
            <li
                id={comment.Id.toString(10)}
                data-time={comment.Timestamp.toString(10)}
                class="w-full text-sm text-rp-text break-word"
            >
                <span>
                    {comment.Author}: {comment.Content}
                </span>
            </li>
        ))
    }
</ul>
