<form action="/api/auth/oauth/google" method="post">
    <button
        class="px-4 bg-rp-overlay rounded-lg hover:text-rp-iris"
        type="submit"
    >
        Authenticate with Google
    </button>
</form>
